<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Add location</title>
    </head>
    <body>
        <h2>Add location</h2>
        <div>
            <form th:action="@{/location}" th:object="${location}" method="POST">
                <div>
                    <div>
                        <label>Rack</label>
                        <input type="text" th:field="${location.rack}"  placeholder="Rack">
                    </div>
                    <div>
                        <label>Shelf</label>
                        <input type="text" th:field="${location.shelf}" placeholder="1">
                    </div>
                    <div>
                        <label>Bin</label>
                        <input type="text" th:field="${location.bin}" placeholder="1">
                    </div>
                    <div>
                        <input type="submit" value=" Submit ">
                    </div>
                    <input type="hidden" id="id" th:field="*{id}">
                </div>
            </form>
        </div>
    </body>
</html>