<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Add item entity</title>
    </head>
    <body>
        <h2>Add item enttit</h2>
        <div>
            <form th:action="@{/item_entity}" th:object="${item_entity}" method="POST">
                <div>
                    <div>
                        <label>Quantity</label>
                        <input type="text" th:field="${item_entity.quantity}"  id="name"  placeholder="Item name">
                    </div>
                    <label>Item</label>
                    <select th:field="${item_entity.itemId}">
                        <option th:each="item : ${items}" th:text="${item.name}" th:value="${item.id}"></option>
                    </select>
                    <label>Location</label>
                    <select th:field="${item_entity.locationId}">
                        <option th:each="location : ${locations}" th:text="${location.id}" th:value="${location.id}"></option>
                    </select>
                    <div>
                        <input type="submit" value=" Submit ">
                    </div>
                    <input type="hidden" th:field="*{id}">
                </div>
            </form>
        </div>
    </body>
</html>