<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Item List</title>
        <link rel="stylesheet" th:href="@{/css/style.css}" media="all"/>
    </head>
<body>
    <div>
        <div class="phead">
            <h2 class="form_inline">Inventory manager</h2>
            <form class="form_inline" th:action="@{/Init}" method="POST">
                <input class="button2" type="submit" value="Populate with test data">
            </form>
        </div>
        <div class="tb">
            <div class="table_container">
                <h2>Inventory list</h2>
                <table>
                    <thead>
                        <th>Id</th>
                        <th>Item name</th>
                        <th>Price</th>
                        <th>Unit</th>
                        <th>Quantity & Location</th>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${items}">
                            <td th:text="${item.id}"></td>
                            <td th:text="${item.name}"></td>
                            <td th:text="${item.price}"></td>
                            <td th:text="${item.unit}"></td>
                            <td>
                                <table>      
                                    <tbody>
                                        <tr th:each="entity : ${item.entities}">
                                            <td th:text="${entity.quantity}"></td>
                                            <td th:text="${entity.location.rack}"></td>
                                            <td th:text="${entity.location.shelf}"></td>
                                            <td th:text="${entity.location.bin}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <form class="form_inline" th:action="@{/add_item}">
                <input class="button1" type="submit" value="Add Item">
            </form>
            <form class="form_inline" th:action="@{/add_location}">
                <input class="button1" type="submit" value="Add Location">
            </form>
            <form class="form_inline" th:action="@{/add_item_entity}">
                <input class="button1" type="submit" value="Add item entity">
            </form>  
        </div>
    </div>
</body>
</html>
